/**
 * Lauren Theme for reveal.js
 * Author: Lauren Woodrick http://github.com/lwoodrick
 *
 * Designed to be used with highlight.js theme
 * "tomorrow-night-bright.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */


 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb-Light.eot') format('embedded-opentype');
   font-weight: lighter;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb-Light.woff') format('woff');
   font-weight: lighter;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb.eot') format('embedded-opentype');
   font-weight: normal;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb.woff') format('woff');
   font-weight: normal;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb-Medium.eot') format('embedded-opentype');
   font-weight: 600;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb-Medium.woff') format('woff');
   font-weight: 600;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb-Bold.eot') format('embedded-opentype');
   font-weight: bold;
}

 @font-face {
   font-family: DINWeb;
   src: url('../../assets/fonts/DINWeb-Bold.woff') format('woff');
   font-weight: bold;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fafafa;
  background-color: #fafafa; }

.reveal {
  font-family: "Titillium Web", Helvetica, "sans-serif";
  font-size: 36px;
  font-weight: normal;
  color: #333;
  text-shadow: none;}

::selection {
  color: #fafafa;
  background: #def635;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * CUSTOM BACKGROUNDS
 *********************************************/

body .reveal .backgrounds .slide-background {
  background: linear-gradient(to right, #2d43d0  33.3%, #ff541e 33.3%, #ff541e 66.6%, #def635 66.6%) 0vw 18px no-repeat, #fafafa 100vw 100vh no-repeat;
  background-position-y: bottom, bottom;
  background-size: 100vw 18px, auto auto;
  transition: none;
}

body .reveal .backgrounds .slide-background[data-background-hash*="dark"] {
  background: linear-gradient(to right, #2d43d0  33.3%, #ff541e 33.3%, #ff541e 66.6%, #def635 66.6%) 0vw 18px no-repeat, #2d2d2d 100vw 100vh no-repeat;
  background-position-y: bottom, bottom;
  background-size: 100vw 18px, auto auto;
  -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

body .reveal .backgrounds .slide-background[data-background-hash*="title"] {
  background-color: #fafafa;
  background: url("../../assets/images/title-bg-bottom.svg") -5px 0 no-repeat, url("../../assets/images/title-bg-top.svg") 0 calc(100vh - 100px) no-repeat;
  background-position-y: top, bottom;
  background-size: calc(100vw + 5px) auto, calc(100vw + 2px) auto;
  -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

body .reveal .backgrounds .slide-background[data-background-hash*="title"] + .slide-background,
body .reveal .backgrounds .slide-background[data-background-hash*="title"] + .slide-background {
  -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * GLOBAL UTILITIES
 *********************************************/

.white {color: #fafafa !important;}
.blue {color: #2d43d0 !important;}
.red {color: #ff541e !important;}
.yellow {color: #def635 !important;}


.reveal .logo-block {
  background: url("../../assets/images/gaslight-logo--primary-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 145px;
  height: 148px;
  margin: 0 auto;
}

.reveal .speaker-block {
  color: #777;
}

.reveal .speaker-block a {
  color: #777;
}

.reveal .speaker-block a:hover {
  color: #777;
}


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 30px 0;
  color: #333;
  font-family: 'Titillium Web', Helvetica, "sans-serif";
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  word-wrap: break-word; }

.reveal h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;
  line-height: 1.1; }

.reveal h1 .small {
  display: block;
  font-size: 0.625em;
  margin-top: 0.25em;
  font-weight: normal; }

.reveal h2 {
  font-size: 1.75em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none;
  margin-top: 0; }

.reveal section[data-background="dark"] h1,
.reveal section[data-background="dark"] h2,
.reveal section[data-background="dark"] h3,
.reveal section[data-background="dark"] h4,
.reveal section[data-background="dark"] h5,
.reveal section[data-background="dark"] h6 {
  color: #fafafa;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 1.5rem 0;
  line-height: 1.5;
  max-width: 75rem;
  text-align: left;}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1.5rem; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul li {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }



.reveal p code, .reveal li code {
  color: white;
  padding: 0 5px;
  display: inline-block;
  border-radius: 4px;
  font-size: 2rem;
  position: relative;
  margin: 0 5px;
  margin-bottom: -12px; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2d43d0 ;
  text-decoration: none;
  text-shadow: 0.05em 0 0 #fafafa, -0.05em 0 0 #fafafa,
  0 0.05em 0 #fafafa, 0 -0.05em 0 #fafafa,
  0.1em 0 0 #fafafa, -0.1em 0 0 #fafafa,
  0 0.1em 0 #fafafa, 0 -0.1em 0 #fafafa;
  background-image: linear-gradient(to right, currentColor
  0%, currentColor 100%);
  background-repeat: repeat-x;
  background-position: bottom 0.05em center;
  background-size: 100% 0.1em;

.reveal a:hover {
  color: #223299;
  text-shadow: none;
  border: none;
  border-bottom: 3px solid #223299;
   }

.reveal .roll span:after {
  color: #fafafa;
  background: #6a1520; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #def635;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #def635; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #def635; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #def635; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #def635; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: lighten(#def635, 40%); }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: lighten(#def635, 40%); }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: lighten(#def635, 40%); }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: lighten(#def635, 40%); }

/*********************************************
 * GASLIGHT BRAND COLOR RULE
 *********************************************/


/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #def635;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal p {
  font-weight: 300;
  text-shadow: none; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700; }

.reveal p code {
  background-color: #23241f;
  display: inline-block;
  border-radius: 7px; }

.reveal small code {
  vertical-align: baseline; }

.reveal .backgrounds > .slide-background[data-background-hash] {
  background-size: cover; }
